<%= form_with(model: min_max) do |form| %>
  <% if min_max.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(min_max.errors.count, "error") %> prohibited this min_max from being saved:</h2>

      <ul>
        <% min_max.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :attempts %>
    <%= form.number_field :attempts %>
  </div>

  <div class="field">
    <%= form.label :target %>
    <%= form.number_field :target %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
