<p id="notice"><%= notice %></p>

<h1>Min Maxes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Attempts</th>
      <th>Target</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @min_maxes.each do |min_max| %>
      <tr>
        <td><%= min_max.user %></td>
        <td><%= min_max.attempts %></td>
        <td><%= min_max.target %></td>
        <td><%= link_to 'Show', min_max %></td>
        <td><%= link_to 'Edit', edit_min_max_path(min_max) %></td>
        <td><%= link_to 'Destroy', min_max, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Min Max', new_min_max_path %>
