<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @min_max.user %>
</p>

<p>
  <strong>Attempts:</strong>
  <%= @min_max.attempts %>
</p>

<p>
  <strong>Target:</strong>
  <%= @min_max.target %>
</p>

<%= link_to 'Edit', edit_min_max_path(@min_max) %> |
<%= link_to 'Back', min_maxes_path %>
